.DS_Store
/AssetBundles
.history
*.vsconfig
.vscode
.idea
*.log
obj/
MatchThree/Logs/
Packages-Update.log
**/UserSettings/**
AndroidLogcatSettings.asset
/MatchThree/Temp
/MatchThree/Library
*.csproj
*.sln
*/Assets/Resources/LocalAssetBundleConfig.asset.meta
*/Assets/Resources/LocalAssetBundleConfig.asset
**/Asset Bundle Export Settings.asset
**/Asset Bundle Export Settings.asset.meta
**/Assets/AssetBundles/**
**/Assets/AssetBundles.meta
**/Assets/AssetBundles~/**
**/*Tivadar*.xml
*CodeIssues
*CodeIssues*
*ResharperCache*
**/gen-netstd/**/*.meta
*.blob